<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Review System</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/styles.css"/>
  </head>
  <body>
    <%- include("./navbar") %>
    <h1>Welcome to the Admin Page, <%= user.username %></h1>
    <!-- Add your admin page content here -->
    <div>
      <button onclick="window.location.href='/admin/employees'">
        Go to Employees Page
      </button>
      <button onclick="window.location.href='/admin/performance-reviews'">
        Go to Performance Review Page
      </button>
    </div>
  </body>
</html>
